.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  width: 90%;
  margin: 0px auto;
  padding: 30px;
}
.cod {
  height: 450px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px grey;
}
.apex {
  height: 450px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 8px;
}
.sfa {
  height: 450px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 8px;
}
.asphalt {
  height: 450px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 8px;
}
.free {
  height: 450px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 8px;
}
.genshin {
  height: 450px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 8px;
}
.h1 {
  height: 100%;
}
